name: Summary CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  generate-summary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
      - uses: upptime/uptime-monitor@master
        with:
          command: "summary"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
