name: Updates CI
on:
  schedule:
    - cron: "0 3 * * *"
  workflow_dispatch:
jobs:
  check-updates:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
      - uses: upptime/uptime-monitor@master
        with:
          command: "updates"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
