name: Uptime CI
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
jobs:
  monitor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
      - uses: upptime/uptime-monitor@master
        with:
          command: "update"
        env:
          GH_PAT: ${{ secrets.GH_PAT }}
